@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 200ms ease-in-out;
}

html,
body {
  padding: 0;
  margin: 0;
  background: radial-gradient(circle at 3% 25%, rgb(0, 40, 83) 0%, rgb(4, 12, 24) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Manrope", sans-serif;
  margin-bottom: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: white;
  background: #031b34;
  border: white solid 1px;
  border-radius: 4px;
}
.btn:hover {
  color: inherit;
  background: white;
  box-shadow: 0 0 0.25em white !important;
}
.btn:active {
  color: white !important;
  background: orangered !important;
  box-shadow: 0 0 0.5em orangered !important;
}

label {
  filter: drop-shadow(0.25em 0.25em 0.25em black);
}

input {
  filter: drop-shadow(0.5em 0.5em 0.5em black) !important;
}

li {
  color: white;
}

.form-label {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.Navbar__ {
  height: 3em;
  width: 100vw;
  color: white;
  padding: 2rem 6rem;
  user-select: none;
}
.Navbar__ .Navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.Navbar__ .Navbar__container .Navbar__header {
  height: auto;
  width: 25%;
  display: flex;
  flex-shrink: 1;
}
.Navbar__ .Navbar__container .Navbar__header .Navbar__brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 8em;
  font-size: 20px;
  font-weight: normal;
  margin-left: 1em;
}
.Navbar__ .Navbar__container .Navbar__header .Navbar__brand:hover {
  color: white;
  filter: drop-shadow(0 0 0.5em white);
}
.Navbar__ .Navbar__container .Navbar__header .Navbar__brand svg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}
.Navbar__ .Navbar__container .Navbar__container-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.Navbar__ .Navbar__container .Navbar__container-links ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style: none;
}
.Navbar__ .Navbar__container .Navbar__container-links ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
.Navbar__ .Navbar__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0 1em 0 0;
}
.Navbar__ .Navbar__right .Navbar__right-link {
  width: 4em;
  background: inherit;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.25em 0.5em;
}
.Navbar__ .Navbar__right .Navbar__right-link:hover {
  box-shadow: 0 0 0.5em white;
}
.Navbar__ .Navbar__right .Navbar__right-link:active {
  color: white !important;
  background: orangered !important;
  box-shadow: 0 0 0.5em orangered !important;
}
.Navbar__ .Navbar__right li {
  padding: 0.5em;
}
.Navbar__ .Navbar__right li a:not(.Navbar__profile-icon):hover {
  background: white;
  color: black;
}
.Navbar__ .Navbar__right li .Navbar__profile-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Navbar__ .Navbar__right li .Navbar__profile-icon svg {
  height: 1.75em;
  width: 1.75em;
}

.form-control {
  color: rgba(255, 255, 255, 0.75);
  background: #031b34;
}
.form-control:hover {
  box-shadow: 0 0 0.5em white;
}
.form-control:focus, .form-control:active {
  color: white;
  background: #031b34;
  box-shadow: 0 0 0.75em white;
}

.container .all-the-ads {
  text-align: center;
}
.container .h1-welcome,
.container .h1-welcome-user {
  width: 100%;
}
.container .here-are-your-ads {
  width: 50%;
}
.container .container-all-ads {
  text-align: center;
}
.container .edit-profile-h1 {
  width: 100%;
  margin-top: 2em;
}
.container h1 {
  width: 40%;
  font-size: 3em;
  font-weight: 900;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0.125em 0.125em 0.125em black);
  margin: 1em 0 0 0;
}
.container label {
  background: #81afdd no-repeat center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.5));
  font-size: 2em;
  font-weight: 900;
}
.container .form-group:last-of-type {
  margin-bottom: 2em;
}
.container .hr {
  height: 3px;
  width: 100%;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  filter: drop-shadow(0.5em 0.5em 0.5em black);
  border-radius: 1em;
  margin-bottom: 0.25rem;
}
.container #hr {
  width: 50%;
  margin-top: 0.5em;
}
.container .col-md-6 {
  background: linear-gradient(141deg, rgb(3, 27, 52) 0%, rgb(0, 33, 100) 100%);
  border-radius: 6px;
  filter: drop-shadow(0.5em 0.5em 0.5em black);
  padding: 1em;
  margin-top: 2.5em;
}
.container .col-md-6:hover {
  box-shadow: 0 0 0.75em white;
}
.container .col-md-6 h2, .container .col-md-6 p {
  color: white;
}
.container .col-md-6 .link-button {
  color: #031b34;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: white;
  border: none;
  border-radius: 10em;
  padding: 0 0.5em;
  cursor: pointer;
}
.container .col-md-6 .link-button:hover {
  box-shadow: 0 0 0.25em white;
}
.container .col-md-6 form .btn {
  margin-top: 2em;
  box-shadow: 0.5em 0.5em 0.5em black !important;
}
.container .col-md-6 .hr {
  margin: 1.75em 0 1em 0;
}
.container input {
  box-shadow: 0.5em 0.5em 0.5em black !important;
}

ul li {
  color: white;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.buttons-container form button {
  color: white;
  background: #031b34;
  border: 1px solid white;
  margin-right: 1em;
}
.buttons-container form button:hover {
  color: #031b34 !important;
  background: white !important;
  box-shadow: 0 0 0.5em white !important;
  border: 1px solid white !important;
  outline: none !important;
}
.buttons-container form button:active {
  color: white !important;
  background: orangered !important;
  box-shadow: 0 0 0.5em orangered !important;
}

.form-group label {
  margin-top: 1em;
  margin-bottom: 0.25em;
}
.form-group .alert {
  font-family: "Manrope", sans-serif;
  color: white;
  background: linear-gradient(270deg, rgb(223, 0, 115) 0%, rgb(255, 0, 0) 100%);
  margin-top: 0.5em;
}

.container-ads {
  width: 100vw;
  margin-top: 4em;
}
.container-ads label {
  background: #81afdd no-repeat center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-weight: 900;
}
.container-ads .btn-block {
  background: #031b34;
}
.container-ads .btn-block:hover {
  color: #031b34 !important;
  background: white !important;
  box-shadow: 0 0 0.5em white !important;
  border: 1px solid white !important;
  outline: none !important;
  border: 1px solid white;
}
.container-ads .btn-block:active {
  color: white !important;
  background: orangered !important;
  box-shadow: 0 0 0.5em orangered !important;
}

.container-all-ads {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.container-all-ads .col-md-6 {
  width: 95%;
}
.container-all-ads .col-md-6 h2, .container-all-ads .col-md-6 p {
  text-align: start;
}

.btn-block {
  filter: drop-shadow(0.5em 0.5em 0.5em black) !important;
}

/*# sourceMappingURL=style.css.map */
